/*  for styling form page */

.fContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
/* FORM     */
.form {
  transition: 0.4s; 
}

.form input { 
  margin-top: 10px;

  padding: 8px 40px;
  border: 1px solid var(--onHover);
  outline: none;
  border-radius: 0.5rem;
  font-size: 1.1rem; 
} 
